{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "printWidth": "99999"
      }
    }
  ]
}