:host {
  .mat-mdc-nav-list {
    border-bottom: 1px solid gray
  }

  .mat-expansion-panel {
    margin: 8px;
  }

  ul {
    list-style: unset;
    padding: 0 16px;
    margin: 0;
    display: flex;

    a.active {
      background: lightblue;
    }
  }
}
