/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-task1,
app-task2,
app-task3 {
  display: block;
  padding: 32px;
  overflow: hidden;
}

.challenge-placeholder {
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}
